html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.landing-box{
	width: 50%;
	padding: 20vh 0 0 0;
	margin: auto;
	text-align: center;
}

.landing-box h1{
	font-size: 8vh;
	font-family: 'Roboto', sans-serif;
}

.landing-box h5{
	font-size: 3vh;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

#play{
	display: inline-block;
	padding: 0 0 5vh 0;
}

#play p{
	font-size: 10vh;
	color: black;
	transition: 0.5s;
	cursor: pointer;
}

#play p:hover{
	color: #fff305;
	transition: 0.5s;
}